.title {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
}

.title:hover {
  color: #fff;
  text-decoration: none;
}

.title:focus {
  color: #fff;
  text-decoration: none;
}

.title:visited {
  color: #fff;
  text-decoration: none;
}

.title:link {
  color: #fff;
  text-decoration: none;
}

.title:active  {
  color: #fff;
  text-decoration: none;
}

.aboutme {
  padding: 20px;
  background-color: #590057;
  color: #fff;
}

.contactme {
  padding: 20px;
  background-color: #590057;
  color: #fff;
  text-align: center;
}

.navitem {
  margin: 0px 5px;
  display: flex;
  float: right;
  line-height: 20px;
  color: #fff;
  font-size: 18px;
}

.section {
  background-color: #3a2e4a;
  color: #fff;
}

.footer {
  padding: 10px;
  background-color: #1a1a1a;
  color: #fff;
}

.menuWraper {
  display: flex;
  width: 100%;
  margin-top: 8px;
  justify-content: end;
}
